*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media(max-width:992px){
    body{
        background-image: url(./white-cylinder-podium-tree-shadow-pedestal-product-display-stand-background-3d-rendering.jpg);
        height: 100vh;
    }
}
form{
    text-align: center;
}
.main{
    position: absolute;
    display: flex;
    flex: 1;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    height: 200px;
    width: 300px;
    padding: 10px;
}
.main label{
    color: #ffffff;
    font-size: 22px;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.main input{
    border: 1px solid #dddddd;
    outline-color: #dddddd !important;
    color: #777777;
    width: 250px;
    height: 25px;
    margin: 20px 0;
}
button{
    width: 88%;
    border: none;
    padding: 10px 0;
    background-color: #ffca36;
    font-size: 18px;
    color: #353535;
    font-weight: 500;
    outline: none;
    transition: .2s ease-in-out;
}
button:hover{
    background-color: #e6e6e6;
}
.output{
    color: white;
    font-family: serif;
    font-size: 16px;
    position: absolute;
    top: -40%;
    left: -2%;
    height: 75px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    padding: 10px 0 10px 20px;
}